/*---------- CSS RESET ----------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*---------- CSS VARIABLES ----------*/
:root {
    --green: #007d7b;
    --black: #000000;
    --white: #ffffff;

    --font: Arial, Helvetica, sans-serif;
}

/*---------- MAIN STYLES ----------*/
* {
    box-sizing: border-box;
}

body {
	background-color: var(--black);
	font-family: var(--font);
	line-height: 1.5;
	position: relative;
}

header, main, footer {
	width: 80%;
	margin: 0 auto;
	max-width: 1300px;
}

header {
	font-weight: bold;
}

/*---------- GIVEN STYLES ----------*/
p {
	font-size: 1.25em;
}

figcaption, label, input, small {
	font-size: 1em;
}

nav a {
	font-size: 1.5em;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2em;
}

/*---------- HEADER STYLES ----------*/
h1 {
	color: var(--green);
	background-color: var(--white);
	text-align: center;
	text-transform: uppercase;
}

ul {
	display: flex;
	justify-content: center;
	margin: 30px 0;
	text-transform: uppercase;
}

a {
	padding: 30px 10px;
	text-decoration: none;
	color: var(--white);
}

header li:last-child {
	position: absolute;
	bottom: 0;
	right: 0;
	border: 2px solid var(--white);
	margin: 5px;
}

header li:last-child a {
	padding: 5px 15px;
}

/*---------- FOCUS STYLES ----------*/
:is(a, input, textarea):focus {
	outline: 4px solid var(--green);
}

[type="submit"]:focus{
	outline: 4px solid var(--white);
}

/*---------- HOVER STYLES ----------*/
a:hover {
	background-color: var(--green);
	color: var(--black);
}

li:last-child a:hover {
	background-color: var(--white);
	color: var(--black);
}

[type="submit"]:hover {
	background-color: var(--white);
	color: var(--green);
}

/*---------- VALID STYLE ----------*/
input:not([type="submit"]):valid, textarea:valid {
	background-color: #B4DBBF;
}

/*---------- MAIN STYLES ----------*/
/*---------- ABOUT ----------*/
#about, #gallery {
	background-color: var(--white);
	padding: 10px 0;
}

#contact {
	padding: 20px;
	color: var(--white);
}

h2 {
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 5px;
}

#about p{
	padding: 10px;
}

/*---------- GALLERY ----------*/
#gallery {
	padding-bottom: 3px;
}

#gallery > p {
	padding: 10px;
}

#gallery figure {
	width: 80%;
	margin: 0 auto;
	position: relative;
	margin-bottom: 10px;
	max-width: 420px;
}

#gallery img {
	width: 100%;
	margin: 0 auto;
}

#gallery figcaption {
	display: block;
	width: 100%;
	position: absolute;
	padding: 10px;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
}

figure:nth-last-child(n+10) figcaption, figure:nth-child(7) figcaption, figure:last-child figcaption {
	color: var(--white);
}

figure:first-of-type figcaption, figure:nth-child(3) figcaption, figure:nth-child(7) figcaption, figure:nth-child(6) figcaption {
	bottom: 0;
}

figure:nth-child(n+8) figcaption, figure:nth-child(5) figcaption, figure:nth-last-child(2n+9) figcaption {
	top: 0;
}

/*---------- CONTACT ----------*/
#contact {
	padding: 0 40px;
}

#contact h2 {
	padding: 10px 0 15px 0;
}

#contact p {
	text-align: center;
	margin-bottom: 10px;
}

form {
	padding: 0 20px;
}

form * {
	display: block;
}

#contact form p {
	max-height: 0;
	opacity: 0;
}

form label {
	padding: 0 10px;
	text-transform: uppercase;
}

form input, form textarea {
	margin-bottom: 20px;
	width: 100%;
	padding: 15px;
	color: var(--green);
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1em;
	font-family: var(--font);
	border: none;
}

form input::placeholder, form textarea::placeholder {
	color: var(--green);
	font-weight: bold;
	text-transform: uppercase;
	font-family: var(--font);
	font-size: 1em;
}

form textarea {
	height: 50px;
}

[type="submit"] {
	padding: 10px;
	width: 70%;
	margin: 5px auto;
	border-radius: 15px;
	background-color: var(--green);
	color: var(--white);
	text-transform: uppercase;
	border: none;
}

/*---------- FOOTER STYLES ----------*/
footer {
	padding: 10px;
	margin-top: 50px;
	color: var(--white);
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
}

/*---------- MEDIA QUERIES ----------*/
@media screen and (min-width:880px) {
	h1{
		text-align: start;
		padding-left: 10px;
	}

	#gallery div {
		display: grid;
		grid-template-columns: 1fr 1fr;
		padding: 10px;
		gap: 20px;
		justify-items: center;
	}

	#gallery figure {
		height: fit-content;
		width: fit-content;
		margin: 0;
	}

	#gallery img {
		max-width: 420px;
	}
}

@media screen and (min-width:1300px) {
	ul {
		justify-content: end;
	}

	#gallery div {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 10px;
	}
}