/*---------- CSS RESET ----------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*---------- CSS VARIABLES ----------*/
:root {
    --green: #007d7b;
    --black: #000000;
    --white: #ffffff;

    --font: Arial, Helvetica, sans-serif;
}

/*---------- MAIN STYLES ----------*/
* {
    box-sizing: border-box;
}

body {
	background-color: var(--black);
	font-family: var(--font);
	font-size: 1.2rem;
	line-height: 1.5;
	position: relative;
}

header, main, footer {
	width: 80%;
	margin: 0 auto;
	max-width: 1300px;
}

header {
	font-weight: bold;
}



/*---------- HEADER STYLES ----------*/
h1 {
	color: var(--green);
	background-color: var(--white);
	font-size: 2.7rem;
	text-align: center;
}

ul {
	font-size: 1.7rem;
	display: flex;
	justify-content: center;
	margin: 20px 0;
}

a {
	padding: 20px 10px;
	text-decoration: none;
	color: var(--white);
}

header li:last-child {
	position: absolute;
	bottom: 0;
}

/*---------- MAIN STYLES ----------*/
/*---------- ABOUT ----------*/
#about, #gallery {
	background-color: var(--white);
	padding: 20px 0;
}

#contact {
	padding: 20px;
	color: var(--white);
}

h2 {
	font-size: 2rem;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 5px;
}

#about p{
	padding: 10px;
}

/*---------- GALLERY ----------*/
#gallery > p {
	padding: 10px;
}

#gallery figure {
	width: 80%;
	margin: 0 auto;
	position: relative;
}

#gallery img {
	width: 100%;
}

#gallery figcaption {
	display: block;
	width: 100%;
	position: absolute;
	top: 0;
	padding: 10px;
	text-align: center;
	font-size: 1em;
	text-transform: uppercase;
}

figure:nth-last-child(n+10) figcaption {
	color: var(--white);
}

figure:first-child figcaption {
	
}